<% response.setContentType("text/css"); %>
.dummy {
}
.errorTextColor{
	color: #A9000F;
}

.errorMessageSeperator {
	color: #A9000F; display:block; line-height:2;
}

input.errorBorderColor{
	border:1px solid  #A9000F !important;
}

select.errorBorderColor{
	border:1px solid  #A9000F !important;
}

table.errorBorderColor td{
	color: #A9000F !important;
}
